<div class="event-new">
  <header>
    <div class= 'event-header'>
      <div class= 'nav-link-group'>
        <%= link_to @group.group_name + 'top', group_path(@group.id) %>
      </div>
      <div class= 'nav-link-group'>
        <%= link_to("予定トップ", group_events_path, class: 'event-nav-link')%>
      </div>
    </div>
  </header>
  <body>
      <%= render partial: "form" %>
  </body>
</div>